
build-skeleton_qt-Desktop_Qt_5_12_5_MinGW_64_bit-Debug/.qmake.stash
build-skeleton_qt-Desktop_Qt_5_12_5_MinGW_64_bit-Debug/debug/axis.o
build-skeleton_qt-Desktop_Qt_5_12_5_MinGW_64_bit-Debug/debug/basic_object3d.o
build-skeleton_qt-Desktop_Qt_5_12_5_MinGW_64_bit-Debug/debug/glwidget.o
build-skeleton_qt-Desktop_Qt_5_12_5_MinGW_64_bit-Debug/debug/main.o
build-skeleton_qt-Desktop_Qt_5_12_5_MinGW_64_bit-Debug/debug/moc_glwidget.cpp
build-skeleton_qt-Desktop_Qt_5_12_5_MinGW_64_bit-Debug/debug/moc_glwidget.o
build-skeleton_qt-Desktop_Qt_5_12_5_MinGW_64_bit-Debug/debug/moc_predefs.h
build-skeleton_qt-Desktop_Qt_5_12_5_MinGW_64_bit-Debug/debug/moc_window.cpp
build-skeleton_qt-Desktop_Qt_5_12_5_MinGW_64_bit-Debug/debug/moc_window.o
build-skeleton_qt-Desktop_Qt_5_12_5_MinGW_64_bit-Debug/debug/object3d.o
build-skeleton_qt-Desktop_Qt_5_12_5_MinGW_64_bit-Debug/debug/skeleton_qt.exe
build-skeleton_qt-Desktop_Qt_5_12_5_MinGW_64_bit-Debug/debug/tetrahedron.o
build-skeleton_qt-Desktop_Qt_5_12_5_MinGW_64_bit-Debug/debug/window.o
build-skeleton_qt-Desktop_Qt_5_12_5_MinGW_64_bit-Debug/Makefile
build-skeleton_qt-Desktop_Qt_5_12_5_MinGW_64_bit-Debug/Makefile.Debug
build-skeleton_qt-Desktop_Qt_5_12_5_MinGW_64_bit-Debug/Makefile.Release
skeleton/debug/axis.o
skeleton/debug/basic_object3d.o
skeleton/debug/glwidget.o
skeleton/debug/main.o
skeleton/debug/moc_glwidget.cpp
skeleton/debug/moc_glwidget.o
skeleton/debug/moc_predefs.h
skeleton/debug/moc_window.cpp
skeleton/debug/moc_window.o
skeleton/debug/object3d.o
skeleton/debug/skeleton_qt.exe
skeleton/debug/tetrahedron.o
skeleton/debug/window.o
skeleton2d/debug/axis.o
skeleton2d/debug/basic_object3d.o
skeleton2d/debug/debug/axis.o
skeleton2d/debug/debug/basic_object3d.o
skeleton2d/debug/debug/glwidget.o
skeleton2d/debug/debug/main.o
skeleton2d/debug/debug/moc_glwidget.cpp
skeleton2d/debug/debug/moc_glwidget.o
skeleton2d/debug/debug/moc_predefs.h
skeleton2d/debug/debug/moc_window.cpp
skeleton2d/debug/debug/moc_window.o
skeleton2d/debug/debug/object3d.o
skeleton2d/debug/debug/tetrahedron.o
skeleton2d/debug/debug/window.o
skeleton2d/debug/glwidget.o
skeleton2d/debug/main.o
skeleton2d/debug/Makefile
skeleton2d/debug/Makefile.Debug
skeleton2d/debug/Makefile.Release
skeleton2d/debug/moc_glwidget.cpp
skeleton2d/debug/moc_glwidget.o
skeleton2d/debug/moc_predefs.h
skeleton2d/debug/moc_window.cpp
skeleton2d/debug/moc_window.o
skeleton2d/debug/object3d.o
skeleton2d/debug/skeleton_qt.exe
skeleton2d/debug/tetrahedron.o
skeleton2d/debug/window.o
skeleton/Makefile
skeleton/Makefile.Debug
skeleton/Makefile.Release
skeleton/.qmake.stash
